<h2>Dr Peter McKavanagh (all 1 page)</h2>
<img src="" />
<h3>Professional Profile</h3>

<h4>Dr Peter McKavanagh MB BCh BAO, MRCP(UK), MRCP(Ire), MMedSc, PhD</h4>
<p>Peter is a dedicated and enthusiastic consultant Cardiologist working at the Ulster and Royal Victoria Hospitals in Belfast. Areas of interests include general and acute cardiology, coronary artery disease, interventional cardiology (angioplasty/stenting), cardiac CT, heart failure, cholesterol management and medical education.
All three of his degrees were from Queen's University Belfast. His primary Medical Degree with distinction was in 2003; his Master in Medical Education with distinction was in 2010; and his PhD in Cardiac CT was in 2016. He has a keen interest in research having published numerous papers and given international presentations. He was also runner up in the European Society of Cardiology Young Investigator Award in 2013. 
His general cardiology training was in Belfast and he completed the membership examinations for the Royal College of Physicians for both the UK and Ireland. Peter then had a two-year fellowship at a large cardiology centre in Toronto and completed a diploma in Interventional Cardiology from the Royal College of Canadian Cardiologists during this time. He also has an interest in third world cardiology, having spent 6 months volunteering in Kenya in a large cardiology centre in Nairobi, as well being involved with the Save a Heart Cardiac Surgery Nigerian Mission.    
Peter has regular cardiology clinics and is happy to see all adult cardiology complaints.</p>

<h4>Personal profile</h4>

<p>Peter has always had a keen interest in sport, and continues to train regularly. He was captain of the Queen’s University Belfast Judo Club during this undergraduate degree and was part of the team that won five consecutive Irish University titles. He also represented Northern Ireland at junior and senior levels.  
He has also volunteered with the Belfast Trust homeless service and with vulnerable adults. </p>


 
<h2>Patient information (3 drop down pages)</h2>
<h4>Symptoms </h4>
<p>Cardiovascular disease remains one of the most significant causes of death in Northern Ireland. In 2015 27.4% of all deaths in the UK were caused by cardiovascular disease. 
Common cardiology symptoms include chest pain, palpitation, shortness of breath, dizziness, blackout/collapses. These are often seen with common cardiology conditions such as:</p>
<ul>
  <li>Angina </li>
  <li>Aortic Stenosis and other valvular conditions </li>
  <li>Atrial Fibrillation (AF) and other cardiac arrhythmias   </li>
  <li>Heart Failure</li>
  <li>High Blood Pressure</li>
  <li>High Cholesterol</li>
  <li>Heart Block</li>
  <li>Cardiomyopathy</li>
  <li>Vasovagal Syncope</li>
</ul>

<p>Dr McKavanagh is happy to answer any questions that you may have. For information about any additional conditions not featured within the site, please contact us for more information.
Patients can self-refer but we do recommend input from your own GP to help with ensuring you are dealt with appropriately.</p>

<h4>Investigations and Management</h4>
<p>To help with diagnosis, some cardiology tests may be necessary. These may include</p>

<ul>
  <li>Electrocardiogram (ECG) (an electrical tracing of the rhythm heart) </li>
  <li>Echocardiography (an ultrasound of the heart)</li>
  <li>24HR Blood Pressure Monitoring (a device to assess blood pressure over 24 hours)</li>
  <li>Exercise Stress Test (EST) (a treadmill test to assess your ECG and Blood Pressure when the heart is stressed)</li>
  <li>Coronary Angiography (an invasive dye test to assess coronary arteries for blockages)</li>
  <li>Ambulatory ECG (a monitoring device to assess the heart rhythm over a period of time)</li>
  <li>Stress Echocardiography (an ultrasound test to assess the heart when it is stressed)</li>
  <li>Cardiac magnetic resonance imaging (MRI) (a specialised scan of the heart that is useful for assessing the heart muscle)</li>
  <li>Cardiac computerised tomography (CT) (a specialised scan of the heart that is useful for assessing coronary arteries for calcium and narrowing)</li>
</li>

<p>For many patients, no further treatment is required after the initial comprehensive assessment. However, some patients do require:</p>
<ul>
  <li>Coronary Angioplasty/Percutaneous Coronary Intervention (PCI)/ Stenting
  <li>Pacemaker</li>
  <li>Implantable Defibrillator </li>
  <li>Pressure Wire Testing</li>
  <li>Electrophysiology Studies</li>
  <li>Coronary Artery Bypass Grafting</li>
  <li>Valve surgery/intervention</li>
</ul>

<h4>Prices</h4>
<h5>Insured Patients</h5>
<p>Patients with private healthcare insurance should contact their medical insurance company prior to their appointment to receive a pre-authorisation code and confirm their entitlement to benefit. Although we will invoice your insurance company on your behalf, the ultimate responsibility for payment lies with you. Consequently, should your insurance company fail to cover the full amount any deficit is your responsibility.
Dr McKavanagh has registration with numerous insurance companies. </p>


<h5>Self-funding</h5>
<p>If you do not have private medical insurance, you will be responsible for all costs incurred for consultations and investigations. Self-funding patients must settle all accounts on the day of consultation.</p>

<h5>Consultation fees</h5>
<ul>
<li>Initial consultation self pay: £175</li>
<li>>Follow up self pay: £140</li>
<li>Initial consultation insured: £140-£200 (depending on the insurance company)</li>
<li>Follow up consultation insured: £100-£150 (depending on the insurance company)</li>
</ul>

 
<h2>GP information</h2>
<p>We have set up to provide a prompt service for private patients in Northern Ireland. By working together and we can offer the complete range of diagnostics and treatments for your private patients. 
We are very happy to discuss patients. </p>

BOXES for GP to fill in
Similar to http://www.drpeterscott.com/gp-information/ 
 
Contact Information (all 1 page)
To make an appointment with Dr McKavanagh please get in touch via the contact details below based. We are happy to see self-referrals but recommend having a GP referral before booking directly/self-referring to ensure you see appropriate medical personal.

BOXES for patients to fill in
Similar to http://www.drpeterscott.com/appointments/ 

<h2>BOOK AN APPOINTMENT</h2>
Your Name (required)
 
Your Address (required)
 
Your Hospital Preference (required)
 
Your Email (required)

Your Telephone/Mobile No (required)

Please enter any further details here:

<p>
Request a call back

Address: Dundonald Consulting Rooms, 1 St Johns Wood Park, Belfast BT16 1RS
Map https://www.google.co.uk/maps/place/St+Johns+Wood+Park,+Dundonald,+Belfast+BT16+1RS/@54.5951707,-5.8119899,17z/data=!4m5!3m4!1s0x48610ba9bd418399:0x8f6d4fdc3f318925!8m2!3d54.5951181!4d-5.8070253 
Phone: 028 9048 4840
Email: info@dundonaldconsulting.com

</p>