<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <img src="assets/profile.jpg" style="height: 250px;" class="img-thumbnail float-left profile-margins"  />
    <h1 class="display-3">Dr Peter McKavanagh</h1> <h5>MB BCh BAO, MRCP(UK), MRCP(Ire), MMedSc, PhD</h5>
    <p>A dedicated consultant Cardiologist working at the Ulster and Royal Victoria Hospitals in Belfast. Areas of interests include general and acute cardiology, coronary artery disease, 
      interventional cardiology (angioplasty/stenting), cardiac CT, heart failure, cholesterol management and medical education.</p>
    <p><a class="btn btn-primary btn-lg float-right" href="#" role="button">Book appointment &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Professional Profile</h2>
      <p>All three of his degrees were from Queen's University Belfast. His primary Medical Degree with distinction was in 2003; his Master in Medical Education with distinction was in 2010; and his PhD in Cardiac CT was in 2016. 
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>

    <div class="col-md-4">
      <h2>Appointments</h2>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
  
    <div class="col-md-4">
      <h2>GP information</h2>
      <p>We have set up to provide a prompt service for private patients in Northern Ireland. By working together and we can offer the complete range of diagnostics and treatments for your private patients. 
      We are very happy to discuss patients. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div> <!-- /container -->

